/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Body styles */
body h1 {
  padding: 3rem;
  text-align: center;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

/* To-do container styles */
#todo-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px #e7dfe7f9 solid;
  width: 60%;
}

/* Input styles */
input {
  background-color: rgb(255, 255, 255);
  height: 2rem;
  margin: 0.1rem;
  border: none;
}

/* Button styles */
.input-btn-ccw,
.input-sbt-enter,
.input-btn-dots {
  width: 1.5rem;
  height: 1.5rem;
}

.input-btn-ccw {
  background-image: url('./assets/images/arrow-ccw.svg');
}

.input-sbt-enter {
  background-image: url('./assets/images/enter.svg');
}

input:not(:focus) + .input-btn-dots {
  background-image: url('./assets/images/icon-more-vert.svg');
}

input:focus + .input-btn-dots,
input:focus + .input-btn-dots:hover,
input:not(:focus) + .input-btn-dots:hover {
  background-image: url('./assets/images/delete.svg');
  transition: 2s ease;
}

/* Form and list item styles */
form,
li {
  padding: 0.3rem;
  display: grid;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e7dfe7f9;
  height: 2rem;
}

form {
  grid-template-columns: 20fr 1fr;
}

li {
  grid-template-columns: 1fr 20fr 1fr;
  list-style: none;
}

/* Clear button styles */
#clear-btn {
  height: 3rem;
  color: #a2a2a2;
  background-color: #f6f6f6;
}

#clear-btn:hover {
  text-decoration: underline;
  color: black;
}

/* Checkbox styles */
input[type="checkbox"]:checked + input {
  text-decoration: line-through;
  color: #a2a2a2;
}
